---
import Layout from '../layouts/Layout.astro';
import Botone from '../components/CompAstro/Botone.astro';
import Bottons from '../components/CompAstro/Bottons.astro';
import Seccion from '../components/CompAstro/Seccion.astro';
import Cardss from '../components/CompAstro/Cardss.astro'
import BonesWhite from '../components/CompAstro/BonesWhite.astro';
import BottonWh from '../components/ComVue/Bottonwhite.vue';
import Botonshop from '../components/ComVue/Botonshop.vue';
import Bottonwhite from '../components/ComVue/Bottonwhite.vue';
import SeccionSoun from '../components/ComVue/SeccionSoun.vue';
import BlockS5 from '../components/ComVue/BlockS5.vue';
import PieDePagina from '../components/ComVue/PieDePagina.vue';
import Headd from '../components/CompAstro/Headd.astro';
---


<Layout title="Elden Ring">
  <Headd/>
  <!--seccion del inicio -->
<div class="relative min-h-screen bg-cover bg-center bg-no-repeat bg-[url('fondomid.png')]" >
    <section >
        <video src="elden-ring-header-animated.webm" class="w-screen " autoplay loop muted></video>
    </section>

   <img src="https://p325k7wa.twic.pics/high/elden-ring/elden-ring/00-page-setup/eldenring_new.png?twic=v1/resize=800/step=10/quality=80" alt="Imagen" class="absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10" />

    <section class=" flex flex-col justify-center items-center">
        <h6 class="text-white text-[50px] font-bold pt-32 text-center">ELDEN RING</h6>

        <div class="flex justify-center m-11 space-x-8 text-[12px]">
            <h1 class="text-[#c29d53ff] text-center">
                Release Date: <span class="text-white">25/02/2022</span>
            </h1>
            <h1 class="text-[#c29d53ff] text-center">
                Genres: <span class="text-white">RPG</span>
            </h1>
            <h1 class="text-[#c29d53ff] text-center">
                Developer: <span class="text-white">FromSoftware, Inc</span>
            </h1>
        </div>
        <a href="#" class="text-center text-white underline">Press kit</a>

        <div id="dos partes" class="flex justify-between items-start m-11 w-full max-w-[90%] mt-10">
          <div id="parte1" class="w-[50%] ml-12">
              <h2 class="text-white font-semibold text-[35px]">The Golden Order has been broken.</h2>
              <h1 class="text-white mt-10 font-semibold">Rise, Tarnished, and be guided by grace to brandish the power of the Elden Ring and become an Elden Lord in the Lands Between.</h1>
              <h1 class="text-white mt-7 font-semibold">In the Lands Between ruled by Queen Marika the Eternal, the Elden Ring, the source of the Erdtree, has been shattered.</h1>
              <h1 class="text-white mt-7 font-semibold">Marika's offspring, demigods all, claimed the shards of the Elden Ring known as the Great Runes, and the mad taint of their newfound strength triggered a war: The Shattering. A war that meant abandonment by the Greater Will.</h1>
              <h1 class="text-white mt-7 font-semibold">And now the guidance of grace will be brought to the Tarnished who were spurned by the grace of gold and exiled from the Lands Between. Ye dead who yet live, your grace long lost, follow the path to the Lands Between beyond the foggy sea to stand before the Elden Ring.</h1>
              <h1 class="text-white mt-7 font-semibold">And become the Elden Lord.</h1>
              <img class="mt-7" src="menciones.png" alt="">
              <h1 class="text-white mt-7 text-[10px] font-semibold">25/02/2022</h1>
              <div class="flex space-x-6 place-content-center">
                <div class="border rounded mt-4 border-white w-14 h-10 flex justify-center items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-white" viewBox="0 0 24 24">
                      <path fill="currentColor" d="M12.302 13.18v-2.387c0-.486.227-.834.712-.834h2.99c.017 0 .035-.018.035-.036v-.475q0-.006-.003-.012h-3.66c-.792.1-1.18.653-1.18 1.357v2.386c0 .482-.233.831-.71.831H7.332c-.018 0-.036.012-.036.036v.475q.002.031.023.04h3.584c.933-.025 1.393-.62 1.393-1.385zM.024 14.564h1.05a.04.04 0 0 0 .025-.04v-1.52c0-.487.275-.823.676-.823h4.323c.974 0 1.445-.6 1.445-1.384c0-.705-.386-1.257-1.18-1.357H.006c0 .003-.006.005-.006.01v.475q0 .036.037.036h5.697c.484 0 .712.35.712.833c0 .484-.227.836-.712.836H1.226c-.7 0-1.226.592-1.226 1.373v1.519c0 .02.01.036.028.04zm15.998-.55h5.738c.017 0 .03.012.03.024v.483c0 .024.017.036.035.036h1.035c.018 0 .036-.01.036-.036v-.475c0-.018.02-.036.04-.036h1.028c.024 0 .036-.018.036-.036v-.484c0-.018-.01-.036-.035-.036h-1.03c-.02 0-.037-.017-.037-.035V9.96c0-.283-.104-.463-.28-.523h-.3a1.2 1.2 0 0 0-.303.132l-6.18 3.815c-.24.15-.323.318-.263.445c.048.104.185.182.454.182zm.895-.637l4.79-2.961c.03-.024.09-.018.09.048v2.961c0 .018-.016.036-.034.036h-4.817c-.04 0-.06-.012-.065-.024q-.01-.034.036-.06" />
                  </svg>
              </div>
              <div class="border rounded mt-4 border-white w-24 h-10 flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-10 text-white" viewBox="0 0 32 32">
                  <path fill="currentColor" d="M5.469 28.041A15.9 15.9 0 0 0 16 32c4.036 0 7.719-1.489 10.536-3.959c2.5-2.547-5.755-11.609-10.536-15.219c-4.776 3.609-13.036 12.672-10.531 15.219m14.88-19.202c3.333 3.948 9.979 13.749 8.104 17.213A15.92 15.92 0 0 0 32 16.005c0-4.453-1.817-8.484-4.76-11.38c0 0-.037-.032-.109-.057a1 1 0 0 0-.376-.057c-.785 0-2.645.577-6.405 4.328zM4.869 4.568c-.072.025-.109.057-.115.057a15.93 15.93 0 0 0-4.755 11.38c0 3.807 1.328 7.297 3.547 10.041c-1.864-3.468 4.771-13.265 8.109-17.208C7.895 5.082 6.03 4.51 5.244 4.51a.9.9 0 0 0-.376.063zM16 4.735s-3.927-2.297-6.995-2.407c-1.203-.041-1.937.391-2.027.453C9.838.86 12.879 0 15.978 0h.021c3.115 0 6.14.86 9.021 2.781c-.089-.063-.819-.495-2.027-.453c-3.068.109-6.995 2.401-6.995 2.401z" />
                </svg>
                <h1 class="text-white text-[10px]">XBOX ONE</h1>
            </div> 
            <div class="border rounded mt-4 border-white w-14 h-10 flex justify-center items-center">
         <h1 class="text-[18px] text-white font-extrabold">PC</h1>
        </div>
            <div class="border rounded mt-4 border-white w-14 h-10 flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg"  class="h-10 w-10 text-white" viewBox="0 0 24 24">
                <path fill="currentColor" d="M23.797 9.42h-7.348v1.992s-.022.769.929.769h4.491a1.3 1.3 90 0 1 .512.104c.251.112.533.34.533.799c0 .412-.2.646-.397.777a1 1 90 0 1-.55.16H16.45v.559h6.153S24 14.523 24 13.087c0-.73-.427-1.092-.81-1.27a1.9 1.9 90 0 0-.79-.171h-4.452a.45.45 90 0 1-.214-.05a.38.38 0 0 1-.2-.356V9.972h6.263ZM7.2 14.019v.559h3.119a1.55 1.55 90 0 0 1.018-.369a1.29 1.29 90 0 0 .454-1.012V10.82a.86.86 90 0 1 .32-.679a.8.8 90 0 1 .503-.17h2.72V9.42h-3.239s-1.397.022-1.397 1.5v2.22a.96.96 90 0 1-.142.515a.75.75 90 0 1-.667.365ZM0 9.42v.552h5.559a1.05 1.05 90 0 1 .448.096c.22.103.468.316.468.748a.765.765 0 0 1-.468.732a1.1 1.1 90 0 1-.455.098H1.429a1.6 1.6 90 0 0-.705.16c-.343.172-.724.577-.724 1.246v1.522h1.07v-1.516a.8.8 90 0 1 .052-.287c.088-.227.312-.59.834-.59h4.157a1.5 1.5 90 0 0 .413-.055c.382-.11 1.019-.423 1.019-1.31c0-1.38-1.373-1.396-1.373-1.396Z" />
              </svg>
          </div>
            </div> 

               <div class="pl-[33%]">
            <div class="border rounded mt-4 border-white w-36 h-10 flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-10 text-white" viewBox="0 0 32 32">
                  <path fill="currentColor" d="M5.469 28.041A15.9 15.9 0 0 0 16 32c4.036 0 7.719-1.489 10.536-3.959c2.5-2.547-5.755-11.609-10.536-15.219c-4.776 3.609-13.036 12.672-10.531 15.219m14.88-19.202c3.333 3.948 9.979 13.749 8.104 17.213A15.92 15.92 0 0 0 32 16.005c0-4.453-1.817-8.484-4.76-11.38c0 0-.037-.032-.109-.057a1 1 0 0 0-.376-.057c-.785 0-2.645.577-6.405 4.328zM4.869 4.568c-.072.025-.109.057-.115.057a15.93 15.93 0 0 0-4.755 11.38c0 3.807 1.328 7.297 3.547 10.041c-1.864-3.468 4.771-13.265 8.109-17.208C7.895 5.082 6.03 4.51 5.244 4.51a.9.9 0 0 0-.376.063zM16 4.735s-3.927-2.297-6.995-2.407c-1.203-.041-1.937.391-2.027.453C9.838.86 12.879 0 15.978 0h.021c3.115 0 6.14.86 9.021 2.781c-.089-.063-.819-.495-2.027-.453c-3.068.109-6.995 2.401-6.995 2.401z" />
                </svg>
                <h1 class="text-white text-[10px] ">XBOX SERIES X|S</h1>
            </div>
           </div>
              <div class="mt-5 flex items-center justify-center min-w-32 h-full">
               <Botonshop class="w-52">
                <h1 slot="text-mid">       Shop Now</h1>
                <svg slot="star-icon" xmlns="http://www.w3.org/2000/svg" class="h-7 px-4 text-white" viewBox="0 0 32 32">
                  <path fill="white" d="M16 3c-2.746 0-5 2.254-5 5v1H6.062L6 9.938l-1 18L4.937 29h22.125L27 27.937l-1-18L25.937 9H21V8c0-2.746-2.254-5-5-5m0 2a3 3 0 0 1 3 3v1h-6V8a3 3 0 0 1 3-3m-8.063 6H11v3h2v-3h6v3h2v-3h3.063l.875 16H7.063z" />
                </svg>
               </Botonshop>
                <a id="bottontansparente"
                href="#" 
                class="h-[44px] hover:bg-[#C19D53] w-[200px] ml-7  hover:border-[#C19D53] border border-[#C19D53]  bg-transparent flex items-center justify-center font-semibold text-[#C19D53] hover:text-white text-[17px] rounded-lg" 
                >
            
            <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 transition-colors duration-300" viewBox="0 0 48 48">
              <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" d="M43 17.077c0-5.654-4.583-10.238-10.237-10.238c-3.723 0-6.971 1.993-8.763 4.964c-1.792-2.97-5.04-4.964-8.763-4.964C9.583 6.84 5 11.423 5 17.077c0 1.292.25 2.524.687 3.662C9.072 30.476 24 41.161 24 41.161s14.928-10.685 18.314-20.422c.437-1.138.686-2.37.686-3.662" />
          </svg>
            <h1>Add to wishlist </h1>
            </a>
          
            </div>
            
          </div>

          
          <div class="w-[90%] ml-11 relative flex justify-start items-start"> 
            <img src="banner.png" class="absolute pt-[50%]" alt=""> 
              <video src="videof1.mp4" autoplay loop muted class="">
            
              </video>
              <img src="banner.png" class="absolute" alt="">
          </div>
          
      </div>
        <img src="stats.png" alt="">
    </section>
 </div>

 
<!--primera seccion fondo leon -->
<div class=" bg-[url('leon.jpg')] bg-fixed  bg-cover bg-center  bg-no-repeat  " >
  
  <h1 class="text-[25px] text-white font-medium ml-[15%] pt-14">Key Features</h1>
     <Seccion >
    <video src="video1.mp4" slot="starvideo"  class="h-[40%] w-[50%]" autoplay loop muted></video>
    <div slot="slot2" class="absolute  flex items-center  justify-center h-[auto] py-4 w-auto px-12 ml-[450px] mt-[60px] bg-[#c29d53]">
       <h2 slot="slot2" class="text-xl text-justify font-bold text-white ">
         A NEW FANTASY WORLD
      </h2>
    </div>
    <div slot="desc" class="pt-36 ml-5 text-white">
      <h4>Journey through the Lands Between, a new fantasy world created by Hidetaka Miyazaki, creator of the influential DARK SOULS video game series, and George R. R. Martin, author of The New York Times best-selling fantasy series, A Song of Ice and Fire. </h4>
      <h1 class="mt-8"> Unravel the mysteries of the Elden Ring’s power. Encounter adversaries with profound backgrounds, characters with their own unique motivations for helping or hindering your progress, and fearsome creatures. </h1>
    </div>
   
     </Seccion>
     <Seccion>
      
      <div slot="desc" class="pt-36 ml-5 text-white mr-5" >
          <h4>
              Journey through the Lands Between, a new fantasy world created by Hidetaka Miyazaki, creator of the influential DARK SOULS video game series, and George R. R. Martin, author of The New York Times best-selling fantasy series, A Song of Ice and Fire.
          </h4>
          <h4 class="mt-6">
            Traverse the breathtaking world on foot or on horseback, alone or online with other players, and fully immerse yourself in the grassy plains, suffocating swamps, spiraling mountains, foreboding castles and other sites of grandeur on a scale never seen before in a FromSoftware title.         
      </div>
  
      <div slot="slot2" class="absolute flex items-center justify-center h-auto py-4 w-[500px] px-10 ml-[100px] mt-[40px]  bg-[#c29d53]">
          <h2 class="text-xl text-justify font-bold text-white">
            WORLD EXPLORATION IN THE LANDS BETWEEN
          </h2>
      </div>
  
          <video src="video2.mp4" slot="videof" class="h-[40%] w-[50%]" autoplay loop muted></video>
      
  </Seccion>
  <Seccion >
    <video src="video3.webm" slot="starvideo"  class="h-[40%] w-[50%]" autoplay loop muted></video>
    <div slot="slot2" class="absolute  flex items-center  justify-center h-[auto] py-4 w-auto px-12 ml-[450px] mt-[60px] bg-[#c29d53]">
       <h2 slot="slot2" class="text-xl text-justify font-bold text-white ">
        GENRE-DEFINING GAMEPLAY
      </h2>
    </div>
    <div slot="desc" class="pt-36 ml-5 text-white mb-14">
      <h4>Create your character in FromSoftware's refined action-RPG and define your playstyle by experimenting with a wide variety of weapons, magical abilities, and skills found throughout the world. </h4>
      <h1 class="mt-8"> Charge into battle, pick off enemies one-by-one using stealth, or even call upon allies for aid. Many options are at your disposal as you decide how to approach exploration and combat. </h1>
    </div>
   
     </Seccion>
    
 </div> 


<!-- segunda seccion slide incompleto -->
<div class="relative w-full h-full place-content-center bg-fixed justify-items-center bg-[url(fire.avif)] bg-cover ">
    <div class="slider-container overflow-hidden">
        <div class="slider flex w-full h-full " id="slider">
            <div class="slider__section flex flex-col items-center justify-center ">
                <img src="https://p325k7wa.twic.pics/high/elden-ring/elden-ring/05-characters/elden-ring-character-samourai-full.png?twic=v1/resize=250/step=10/quality=80" alt="" class="w-50 h-auto transition-transform duration-300 transform scale-100" data-title="Samurai">
                <h1 class="text-white text-lg font-bold text-center mt-2 hidden" data-title="Samurai f">Samurai</h1>
                <p data-description="samurai" class="text-white hidden">A capacle fighther from the distant Land of Redds.</p>
            </div>
            <div class="slider__section flex flex-col items-center justify-center">
                <img src="https://p325k7wa.twic.pics/high/elden-ring/elden-ring/05-characters/elden-ring-character-wretch-full.png?twic=v1/resize=250/step=10/quality=80" alt="" class="w-50 h-auto transition-transform duration-300 transform scale-100" data-title="Wretch">
                <h1 class="text-white text-lg font-bold text-center mt-2 hidden" data-title="Wretch">Wretch</h1>
                <p data-description="samurai" class="text-white hidden">A capacle fighther from the distant Land of Redds.</p>

            </div>
            <div class="slider__section flex flex-col items-center justify-center">
                <img src="https://p325k7wa.twic.pics/high/elden-ring/elden-ring/05-characters/elden-ring-character-prophet-full.png?twic=v1/resize=250/step=10/quality=80" alt="" class="w-50 h-auto transition-transform duration-300 transform scale-100" data-title="Prophet">
                <h1 class="text-white text-lg font-bold text-center mt-2 hidden" data-title="Prophet">Prophet</h1>
            </div>
            <div class="slider__section flex flex-col items-center justify-center ">
                <img src="https://p325k7wa.twic.pics/high/elden-ring/elden-ring/05-characters/elden-ring-character-confessor-full.png?twic=v1/resize=250/step=10/quality=80" alt="" class="w-50 h-auto transition-transform duration-300 transform scale-100" data-title="Confessor">
                <h1 class="text-white text-lg font-bold text-center mt-2 hidden" data-title="Confessor">Confessor</h1>
            </div>
            <div class="slider__section flex flex-col items-center justify-center">
                <img src="https://p325k7wa.twic.pics/high/elden-ring/elden-ring/05-characters/elden-ring-character-hero-full-new.png?twic=v1/resize=250/step=10/quality=80" alt="" class="w-50 h-auto transition-transform duration-300 transform scale-100" data-title="Hero">
                <h1 class="text-white text-lg font-bold text-center mt-2 hidden" data-title="Hero">Hero</h1>
            </div>
            <div class="slider__section flex flex-col items-center transition-transform duration-300 transform justify-center">
                <img src="https://p325k7wa.twic.pics/high/elden-ring/elden-ring/05-characters/elden-ring-character-warrior-full-new.png?twic=v1/resize=250/step=10/quality=80" alt="" class="w-50 h-auto transition-transform duration-300 transform scale-100" data-title="Warrior">
                <h1 class="text-white text-lg font-bold text-center mt-9 hidden " data-title="Warrior">Warrior</h1>50
            </div>
            <div class="slider__section flex flex-col items-center justify-center">
                <img src="https://p325k7wa.twic.pics/high/elden-ring/elden-ring/05-characters/elden-ring-character-vagabond-full.png?twic=v1/resize=250/step=10/quality=80" alt="" class="w-50 h-auto transition-transform duration-300 transform scale-100" data-title="Warrior">
                <h1 class="text-white text-lg font-bold text-center mt-2 hidden" data-title="Warrior">Warrior</h1>
            </div>
        </div>
    </div>
    <div class="slider__btn absolute top-[90%] left-[15%] transform -translate-y-1/2 bg-black bg-opacity-50 p-4 rounded-full cursor-pointer hover:bg-opacity-80" id="btn-left">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-[#c29d53ff]" viewBox="0 0 24 24">
        <path fill="currentColor" fill-rule="evenodd" d="M10.53 5.47a.75.75 0 0 1 0 1.06l-4.72 4.72H20a.75.75 0 0 1 0 1.5H5.81l4.72 4.72a.75.75 0 1 1-1.06 1.06l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.06 0" clip-rule="evenodd" />
      </svg>
    </div>
    
    <div class="slider__btn absolute top-[90%] right-[15%] transform -translate-y-1/2 bg-black bg-opacity-50 p-4 rounded-full cursor-pointer hover:bg-opacity-80" id="btn-right">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-[#c29d53ff] rotate-180" viewBox="0 0 24 24">
        <path fill="currentColor" fill-rule="evenodd" d="M10.53 5.47a.75.75 0 0 1 0 1.06l-4.72 4.72H20a.75.75 0 0 1 0 1.5H5.81l4.72 4.72a.75.75 0 1 1-1.06 1.06l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.06 0" clip-rule="evenodd" />
      </svg>
    </div>
 </div>


<!--seccion °3  -->
<div id="seccion3"  class="bg-cover bg-no-repeat h-[1000px] bg-fixed bg-[url('fondomid.png')]" >
       <div class="flex columns-2 justify-between items-center">
  <div class="flex ml-20 pt-9 ">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-40 w-20 text-[#556362ff] relative" viewBox="0 0 24 24">
      <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path d="M3.977 9.84A2 2 0 0 1 5.971 8h12.058a2 2 0 0 1 1.994 1.84l.803 10A2 2 0 0 1 18.833 22H5.167a2 2 0 0 1-1.993-2.16z" />
        <path d="M16 11V6a4 4 0 0 0-4-4v0a4 4 0 0 0-4 4v5" />
      </g>
    </svg>
    <h1 class="text-[40px] font-semibold text-white absolute ml-10 pt-12">Hazte con el juego</h1>
  </div>
  <div class="flex pr-[15%]   ">
   
      <h1 class="text-white tex"> Seleccionar:</h1>
      <div class="relative inline-block text-left">
        <button id="dropdownButton" class="peer border border-white text-white px-4 rounded-md focus:outline-none flex items-center">
          <a id="selectedLanguage"><h1  id="selectedLanguage">Español</h1></a>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 ml-12" viewBox="0 0 24 24">
            <path fill="white" d="M11.178 19.569a.998.998 0 0 0 1.644 0l9-13A.999.999 0 0 0 21 5H3a1.002 1.002 0 0 0-.822 1.569z" />
          </svg>
        </button>
      
        <div class="hidden peer-focus:block absolute mt-2 w-48 rounded-md shadow-lg bg-white">
          <div class="py-1">
            <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" onclick="setSpanish()">Español</a>
            <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" onclick="setEnglish()">Inglés</a>
            <a class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer" onclick="setFrench()">Francés</a>
          </div>
        </div>
      </div>
      </div>
      
      </div>
      
      <h1 class="text-center text-white font-bold text-[25px]">Elige plataforma</h1>
      
      <div class="py-7">
        <div class="flex justify-between px-[32%] items-center">
          <Botone del="false">
            <h1 slot="cont" class="text-white text-[20px] font-extrabold">PC</h1>
          </Botone>
          <Botone>
            <svg slot="cont" xmlns="http://www.w3.org/2000/svg" class="h-10" viewBox="0 0 24 24">
              <path fill="white" d="M23.797 9.42h-7.348v1.992s-.022.769.929.769h4.491a1.3 1.3 90 0 1 .512.104c.251.112.533.34.533.799c0 .412-.2.646-.397.777a1 1 90 0 1-.55.16H16.45v.559h6.153S24 14.523 24 13.087c0-.73-.427-1.092-.81-1.27a1.9 1.9 90 0 0-.79-.171h-4.452a.45.45 90 0 1-.214-.05a.38.38 0 0 1-.2-.356V9.972h6.263ZM7.2 14.019v.559h3.119a1.55 1.55 90 0 0 1.018-.369a1.29 1.29 90 0 0 .454-1.012V10.82a.86.86 90 0 1 .32-.679a.8.8 90 0 1 .503-.17h2.72V9.42h-3.239s-1.397.022-1.397 1.5v2.22a.96.96 90 0 1-.142.515a.75.75 90 0 1-.667.365ZM0 9.42v.552h5.559a1.05 1.05 90 0 1 .448.096c.22.103.468.316.468.748a.765.765 0 0 1-.468.732a1.1 1.1 90 0 1-.455.098H1.429a1.6 1.6 90 0 0-.705.16c-.343.172-.724.577-.724 1.246v1.522h1.07v-1.516a.8.8 90 0 1 .052-.287c.088-.227.312-.59.834-.59h4.157a1.5 1.5 90 0 0 .413-.055c.382-.11 1.019-.423 1.019-1.31c0-1.38-1.373-1.396-1.373-1.396Z" />
            </svg>
          </Botone>
          <Botone>
            <div slot="cont" class=" flex justify-center items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-10 text-white" viewBox="0 0 32 32">
                <path fill="currentColor" d="M5.469 28.041A15.9 15.9 0 0 0 16 32c4.036 0 7.719-1.489 10.536-3.959c2.5-2.547-5.755-11.609-10.536-15.219c-4.776 3.609-13.036 12.672-10.531 15.219m14.88-19.202c3.333 3.948 9.979 13.749 8.104 17.213A15.92 15.92 0 0 0 32 16.005c0-4.453-1.817-8.484-4.76-11.38c0 0-.037-.032-.109-.057a1 1 0 0 0-.376-.057c-.785 0-2.645.577-6.405 4.328zM4.869 4.568c-.072.025-.109.057-.115.057a15.93 15.93 0 0 0-4.755 11.38c0 3.807 1.328 7.297 3.547 10.041c-1.864-3.468 4.771-13.265 8.109-17.208C7.895 5.082 6.03 4.51 5.244 4.51a.9.9 0 0 0-.376.063zM16 4.735s-3.927-2.297-6.995-2.407c-1.203-.041-1.937.391-2.027.453C9.838.86 12.879 0 15.978 0h.021c3.115 0 6.14.86 9.021 2.781c-.089-.063-.819-.495-2.027-.453c-3.068.109-6.995 2.401-6.995 2.401z" />
              </svg>
              <h1 class="text-white text-[15px]">XBOX SERIES X|S</h1>
          </div>
          </Botone>
        </div>
      </div>


<div class=" h-auto items-center justify-center mt-10 mb-5 flex ">
  <button id="prev" class=" mx-8  bg-[#c29d53ff] h-10 w-10 rounded-full items-center justify-center flex  ">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 " viewBox="0 0 20 20">
    <path fill="white" d="m5.83 9l5.58-5.58L10 2l-8 8l8 8l1.41-1.41L5.83 11H18V9z" />
  </svg></button>
  <div class="text-white flex content-center ">
  <h1 id="number" class="text-[35px] "></h1>
  <h1 class="text-[30px]">/</h1>
  <h1 id="numbert" class="text-gray-500 text-[20px] pt-2"></h1>
</div>
  <button id="next" class="bg-[#c29d53ff] mx-8 h-10 w-10  rounded-full items-center justify-center flex">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-7" viewBox="0 0 20 20">
      <path fill="white" d="M2 11h12.2l-5.6 5.6L10 18l8-8l-8-8l-1.4 1.4L14.2 9H2z" />
    </svg>
  </button>

</div>
<!--seccion informaccion -->

   <div class="flex items-center justify-center mb-4">
       <h1 class="text-white underline w-[130px] ">Tabla compatativa</h1>
   </div>

<!--html slide -->
<div id="cardssss" class="">
  <div class=" max-w-4xl w-screen ml-[15%] overflow-hidden  pt-5  relative ">
      <!-- Botones de navegación -->
  
      <div id="slider2" class="flex  transition-transform duration-500  ">
        
          <Cardss >
            <div slot="imagen" class="relative">
            <img  src="img2.jpg" alt="Collector's Edition" class="rounded-lg h-[200px] w-[100%]">
            <h1 class="absolute top-[50%] text-[60px] font-bold bg-black bg-opacity-25  left-[35%] text-white text-2xl">PC</h1>

          </div>
            <h3 slot="text" class="text-white mt-4 pb-12">Collector's Edition</h3>
           <Bottonwhite slot='boton' class="mx-12" >
            <svg slot="star-icon" xmlns="http://www.w3.org/2000/svg" class="h-8 text-white" viewBox="0 0 24 24">
              <path fill="currentColor" d="m12 15.577l-3.539-3.538l.708-.72L11.5 13.65V5h1v8.65l2.33-2.33l.709.719zM6.616 19q-.691 0-1.153-.462T5 17.384v-2.423h1v2.423q0 .231.192.424t.423.192h10.77q.23 0 .423-.192t.192-.424v-2.423h1v2.423q0 .691-.462 1.153T17.384 19z" />
            </svg>
            <h1 slot="texto" class="text-white mx-5">Digital</h1>
           </Bottonwhite>
             </Cardss>

             <Cardss>
              <div slot="imagen" class="relative">
                <img src="im1.webp" alt="Collector's Edition" class="rounded-lg h-[200px] w-full">
                <h1 class="absolute top-[50%] text-[60px] font-bold bg-black bg-opacity-25  left-[35%] text-white text-2xl">PC</h1>
            </div>
              <h3 slot="text" class="text-white mt-4 pb-6">Shadow Of Three Edition</h3>
              <Bottonwhite slot='boton' class="mx-12 mb-6" >
                <svg xmlns="http://www.w3.org/2000/svg" slot="star-icon" class="h-8 text-white" viewBox="0 0 48 48">
                  <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" d="M8.797 8.796c-8.396 8.397-8.396 22.01 0 30.407M39.203 8.796a21.5 21.5 0 0 1 0 30.408M33.27 14.73a13.11 13.11 0 0 1 0 18.54M14.73 14.73c-5.12 5.12-5.12 13.42 0 18.54M28.72 24A4.72 4.72 0 0 1 24 28.718h0a4.72 4.72 0 0 1-4.72-4.72h0a4.72 4.72 0 0 1 9.44 0" />
                </svg>        
                  <h1 slot="texto" class="text-white mx-5">Physical</h1>

               </Bottonwhite>
              <Bottonwhite slot='boton' class="mx-12" >
                <svg slot="star-icon" xmlns="http://www.w3.org/2000/svg" class="h-8 text-white" viewBox="0 0 24 24">
                  <path fill="currentColor" d="m12 15.577l-3.539-3.538l.708-.72L11.5 13.65V5h1v8.65l2.33-2.33l.709.719zM6.616 19q-.691 0-1.153-.462T5 17.384v-2.423h1v2.423q0 .231.192.424t.423.192h10.77q.23 0 .423-.192t.192-.424v-2.423h1v2.423q0 .691-.462 1.153T17.384 19z" />
                </svg>          
                  <h1 slot="texto" class="text-white mx-5">Digital</h1>

               </Bottonwhite>
               
             </Cardss>

           <Cardss>
            <div slot="imagen" class="relative">
              <img src="im1.webp" alt="Collector's Edition" class="rounded-lg h-[200px] w-full">
              <h1 class="absolute top-[50%] text-[60px] font-bold bg-black bg-opacity-25  left-[35%] text-white text-2xl">PC</h1>
          </div>
            <h3 slot="text" class="text-white mt-4 pb-6">Premiun Blonde Edition</h3>
            <Bottonwhite slot='boton' class=" mb-6 mx-12" >
              <svg xmlns="http://www.w3.org/2000/svg" slot="star-icon" class="h-8 text-white" viewBox="0 0 48 48">
                <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" d="M8.797 8.796c-8.396 8.397-8.396 22.01 0 30.407M39.203 8.796a21.5 21.5 0 0 1 0 30.408M33.27 14.73a13.11 13.11 0 0 1 0 18.54M14.73 14.73c-5.12 5.12-5.12 13.42 0 18.54M28.72 24A4.72 4.72 0 0 1 24 28.718h0a4.72 4.72 0 0 1-4.72-4.72h0a4.72 4.72 0 0 1 9.44 0" />
              </svg>        
                <h1 slot="texto" class="text-white mx-5">Physical</h1>

             </Bottonwhite>
            <Bottonwhite slot='boton' class="mx-12" >
              <svg slot="star-icon" xmlns="http://www.w3.org/2000/svg" class="h-8 text-white" viewBox="0 0 24 24">
                <path fill="currentColor" d="m12 15.577l-3.539-3.538l.708-.72L11.5 13.65V5h1v8.65l2.33-2.33l.709.719zM6.616 19q-.691 0-1.153-.462T5 17.384v-2.423h1v2.423q0 .231.192.424t.423.192h10.77q.23 0 .423-.192t.192-.424v-2.423h1v2.423q0 .691-.462 1.153T17.384 19z" />
              </svg>          
                <h1 slot="texto" class="text-white mx-5">Digital</h1>

             </Bottonwhite>
           </Cardss>

           <Cardss>
            <div slot="imagen" class="relative">
              <img src="im1.webp" alt="Collector's Edition" class="rounded-lg h-[200px] w-full">
              <h1 class="absolute top-[50%] text-[60px] font-bold bg-black bg-opacity-25  left-[35%] text-white text-2xl">PC</h1>
          </div>
            <h3 slot="text" class="text-white mt-4 pb-12">Collector's Edition</h3>
            <Bottonwhite slot='boton' class="mx-12" >
              <svg slot="star-icon" xmlns="http://www.w3.org/2000/svg" class="h-8 text-white" viewBox="0 0 24 24">
                <path fill="currentColor" d="m12 15.577l-3.539-3.538l.708-.72L11.5 13.65V5h1v8.65l2.33-2.33l.709.719zM6.616 19q-.691 0-1.153-.462T5 17.384v-2.423h1v2.423q0 .231.192.424t.423.192h10.77q.23 0 .423-.192t.192-.424v-2.423h1v2.423q0 .691-.462 1.153T17.384 19z" />
              </svg>          
                <h1 slot="texto" class="text-white mx-5">Digital</h1>

             </Bottonwhite>
           </Cardss>

           <Cardss>
            <div slot="imagen" class="relative">
              <img src="im1.webp" alt="Collector's Edition" class="rounded-lg h-[200px] w-full">
              <h1 class="absolute top-[50%] text-[60px] font-bold bg-black bg-opacity-25  left-[35%] text-white text-2xl">PC</h1>
          </div>
            <h3 slot="text" class="text-white mt-4 pb-12">Collector's Edition</h3>
            <Bottonwhite slot='boton' class=" mb-6 mx-12" >
              <svg xmlns="http://www.w3.org/2000/svg" slot="star-icon" class="h-8 text-white" viewBox="0 0 48 48">
                <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" d="M8.797 8.796c-8.396 8.397-8.396 22.01 0 30.407M39.203 8.796a21.5 21.5 0 0 1 0 30.408M33.27 14.73a13.11 13.11 0 0 1 0 18.54M14.73 14.73c-5.12 5.12-5.12 13.42 0 18.54M28.72 24A4.72 4.72 0 0 1 24 28.718h0a4.72 4.72 0 0 1-4.72-4.72h0a4.72 4.72 0 0 1 9.44 0" />
              </svg>        
                <h1 slot="texto" class="text-white mx-5">Physical</h1>

             </Bottonwhite>
           </Cardss>
          
         </div>
      </div>
  

   </div>


 </div>

 
 <!--seccion °4 -->
<div class="bg-[url('dorado.png')] bg-cover h-[400px] text-center ">
<h1 class="text-[40px] text-white font-bold pt-[8%]">Wishlist on your favourite platform</h1>
<h1 class="text-[20px] text-white  pt-[2%]">Wishlist now to stay tuned for the latest updates about this video game! </h1>
<!--botones -->
<div class="h-[80%] flex select-none justify-between mx-64 mt-[5%] ">
<BonesWhite class="" >
  <svg slot="starr-icon" xmlns="http://www.w3.org/2000/svg" class="min-h-[80%]  " viewBox="0 0 24 24">
    <path fill="currentColor" d="M22.585 17.011c-.43.543-1.483.93-1.483.93l-7.832 2.817V18.68l5.764-2.057c.654-.234.754-.566.223-.74s-1.492-.125-2.147.111l-3.84 1.354v-2.155l.221-.076s1.11-.393 2.67-.566c1.561-.172 3.472.024 4.972.593c1.69.535 1.88 1.323 1.452 1.866m-8.57-3.537V8.162c0-.624-.115-1.198-.7-1.36c-.447-.144-.725.272-.725.895V21l-3.583-1.139V4c1.523.283 3.743.953 4.936 1.355c3.035 1.043 4.064 2.342 4.064 5.267c0 2.851-1.758 3.932-3.992 2.852m-11.583 4.99c-1.736-.49-2.025-1.51-1.234-2.097c.731-.542 1.975-.95 1.975-.95l5.138-1.83v2.086l-3.698 1.325c-.653.234-.753.566-.223.74c.532.175 1.493.125 2.147-.11l1.774-.644v1.865l-.354.06c-1.774.29-3.663.169-5.525-.445" />
  </svg>
  <h1 class=" m-5" slot="textt">Playstation</h1>
  
  <svg xmlns="http://www.w3.org/2000/svg" slot="endd-icon" class="min-h-[80%]  " viewBox="0 0 24 24">
    <g fill="none" stroke="currentColor" stroke-linecap="round">
      <path d="M12 7.5H7A1.5 1.5 0 0 0 5.5 9v8A1.5 1.5 0 0 0 7 18.5h8a1.5 1.5 0 0 0 1.5-1.5v-5" />
      <path stroke-linejoin="round" d="m12.5 11.5l6.364-6.364M14.5 4.5h5v5" />
    </g>
  </svg>
</BonesWhite>
<BonesWhite>
  <svg slot="starr-icon" xmlns="http://www.w3.org/2000/svg" class="h-[80%] "  viewBox="0 0 32 32">
    <path fill="currentColor" d="M5.469 28.041A15.9 15.9 0 0 0 16 32c4.036 0 7.719-1.489 10.536-3.959c2.5-2.547-5.755-11.609-10.536-15.219c-4.776 3.609-13.036 12.672-10.531 15.219m14.88-19.202c3.333 3.948 9.979 13.749 8.104 17.213A15.92 15.92 0 0 0 32 16.005c0-4.453-1.817-8.484-4.76-11.38c0 0-.037-.032-.109-.057a1 1 0 0 0-.376-.057c-.785 0-2.645.577-6.405 4.328zM4.869 4.568c-.072.025-.109.057-.115.057a15.93 15.93 0 0 0-4.755 11.38c0 3.807 1.328 7.297 3.547 10.041c-1.864-3.468 4.771-13.265 8.109-17.208C7.895 5.082 6.03 4.51 5.244 4.51a.9.9 0 0 0-.376.063zM16 4.735s-3.927-2.297-6.995-2.407c-1.203-.041-1.937.391-2.027.453C9.838.86 12.879 0 15.978 0h.021c3.115 0 6.14.86 9.021 2.781c-.089-.063-.819-.495-2.027-.453c-3.068.109-6.995 2.401-6.995 2.401z" />
  </svg>
  <h1 class=" ml-5 " slot="textt">XBOX</h1>
  <svg xmlns="http://www.w3.org/2000/svg" slot="endd-icon" class="h-[80%] w-[40%]  " viewBox="0 0 24 24">
    <g fill="none" stroke="currentColor" stroke-linecap="round">
      <path d="M12 7.5H7A1.5 1.5 0 0 0 5.5 9v8A1.5 1.5 0 0 0 7 18.5h8a1.5 1.5 0 0 0 1.5-1.5v-5" />
      <path stroke-linejoin="round" d="m12.5 11.5l6.364-6.364M14.5 4.5h5v5" />
    </g>
  </svg>
</BonesWhite>
<BonesWhite>
  <svg slot="starr-icon" xmlns="http://www.w3.org/2000/svg" class="h-[80%] " viewBox="0 0 24 24">
    <path fill="currentColor" d="M12 2a10 10 0 0 1 10 10a10 10 0 0 1-10 10c-4.6 0-8.45-3.08-9.64-7.27l3.83 1.58a2.84 2.84 0 0 0 2.78 2.27c1.56 0 2.83-1.27 2.83-2.83v-.13l3.4-2.43h.08c2.08 0 3.77-1.69 3.77-3.77s-1.69-3.77-3.77-3.77s-3.78 1.69-3.78 3.77v.05l-2.37 3.46l-.16-.01c-.59 0-1.14.18-1.59.49L2 11.2C2.43 6.05 6.73 2 12 2M8.28 17.17c.8.33 1.72-.04 2.05-.84s-.05-1.71-.83-2.04l-1.28-.53c.49-.18 1.04-.19 1.56.03c.53.21.94.62 1.15 1.15c.22.52.22 1.1 0 1.62c-.43 1.08-1.7 1.6-2.78 1.15c-.5-.21-.88-.59-1.09-1.04zm9.52-7.75c0 1.39-1.13 2.52-2.52 2.52a2.52 2.52 0 0 1-2.51-2.52a2.5 2.5 0 0 1 2.51-2.51a2.52 2.52 0 0 1 2.52 2.51m-4.4 0c0 1.04.84 1.89 1.89 1.89c1.04 0 1.88-.85 1.88-1.89s-.84-1.89-1.88-1.89c-1.05 0-1.89.85-1.89 1.89" />
  </svg>
  <h1 class="" slot="textt">Steam</h1>
  <svg xmlns="http://www.w3.org/2000/svg" slot="endd-icon" class="h-[80%] w-[40%]  " viewBox="0 0 24 24">
    <g fill="none" stroke="currentColor" stroke-linecap="round">
      <path d="M12 7.5H7A1.5 1.5 0 0 0 5.5 9v8A1.5 1.5 0 0 0 7 18.5h8a1.5 1.5 0 0 0 1.5-1.5v-5" />
      <path stroke-linejoin="round" d="m12.5 11.5l6.364-6.364M14.5 4.5h5v5" />
    </g>
  </svg>
</BonesWhite>
</div>

</div>

<!--seccion °5 -->
<div class="bg-cover mt- bg-center bg-no-repeat bg-[url('fondomid.png')] bg-fixed pb-5 ">

 <!--seccion 5°1 --> 
 <div class="pt-10 px-[22%] h-auto">
    <img src="banner.png" alt="" class="h-10 w-screen">
    <h1 class="text-[#c9b86bff] text-[35px] text-center font-bold mt-[5%]">Tarnished of the Lands Between    </h1>
    <h1 class="text-white text-center font-semibold pt-6">The Golden Order has been shattered. Throughout the Lands Between, Demigods holding shards of the Elden Ring squabble and make war over the ruins of a perfect realm, now abandoned by the golden guidance of the Greater Will. <div class="my-3"></div>
      As the echoes of this conflict thunder in the distance, an outcast arrives. Once, their ancestors called the Lands Between home, but the blessed light of grace was lost to their tribe long ago and they were expelled from the kingdom. They are the Tarnished, and they have returned to claim the Elden Lordship promised to them by legend.  <div class="my-3"></div>
      This is the world of ELDEN RING. As a Tarnished, the Lands Between await your exploration. You will ride through the vast fields, gallop over rolling hills, and leap to the top of rocky crags on your ephemeral steed, revealing a world teeming with life and danger. <div class="my-3"></div>
      In the grand fields where your journey begins, mythic creatures prowl the veldts, ineffable horrors lurk in the bogs and marshes, and all manner of soldiers and itinerant warriors are waiting for those who wander unawares. Shy creatures nibble on sweet grasses or scuttle through the underbrush. <div class="my-3"></div>
      Those few inhabitants who are not mad or hostile linger near the broken remnants of cities left behind by the Shattering. They may have answers for you, if you help them. Above them all, ensconced in vast legacies bristling with traps, secrets, and guardians, the Demigods – warped Lords who began as members of a royal and noble family – rule their domains with the unyielding power granted by shards of the Elden Ring.<div class="my-3"></div>

    </h1>
    <img src="banner.png" alt="" class="h-10 w-screen my-16">

 </div>

<!-- Seccion 5°text -->
 <div>
<div class="columns-3 flex justify-between mx-8 ">
  <img src="col1.webp" alt="">
  <img src="col2.webp" class="" alt="">
  <img src="col3.webp" alt="">
</div>   
 <img src="banner.png" alt="" class="px-[22%] h-10 w-screen my-16">

 <h1 class="px-[22%] text-[16px] text-white text-center font-bold pt-6">The guidance of lost graces – should you find them - will put you on a road to re-take these lands from the Demigods through might and magic, but you need not follow their path. <div class="my-3"></div>
  The choice is yours. Do you crave power, or do you seek understanding? Decide for yourself, then build your character as you see fit. <div class="my-3"></div>
  Try dozens of skills and find one to best suit your style. Practice stealth to avoid danger or catch enemies unaware. Use the environment, the weather, and the time of day to gain an advantage. Learn the art of combat , where you must read your enemy’s intentions and a well-timed dodge or parry could be the difference between life and death. Ride your steed into battle against mounted mercenaries and cut them from their horses. Master arcane spells from the masters that still linger among the ruins of the war. Summon familiar spirits to even the odds against you or call on your fellow Tarnished to fight at your side and share the burden as you explore. Or, delve into the complex, bloody history of the Shattering and discover the lost secrets of the Demigods and their kin. All these paths are possible, and more. <div class="my-3"></div>
  Ultimately, your journey will be defined by the strength of your own ambition. The greater your goals, the greater the challenge will be. Should you choose to claim the Lands Between as your birthright then yes, you must fight. <div class="my-3"></div>
  And yes, you may die.<div class="my-3"></div>
  But you will return to fight again.<div class="my-3"></div>
  For that is how a champion – or a Lord – is born.<div class="my-3"></div>
</h1>
<img src="elden.png" class="ml-[45%] my-20" alt="">
</div>

<!--Seccion 5° music -->
  <div class="">
  <h1 class="text-white text-[35px] pr-[9%] text-center font-bold">Access the soundtracks of ELDEN RING everywhere!</h1>
  <div class=" h-[600px] w-screen columns-3 flex justify-between pl-[6%]  pr-[6%] mt-10">
    <!--box1 -->
    <div class="h-[68%] w-[57%] rounded-xl bg-[#1f473fff] ">
      <!-- seccion de arriba paa -->
      <div class="h-[40%] flex">
      <img class=" w-[40%] rounded-lg shadow-lg shadow-black object-cover ml-4 mt-4 mr-2" src="ring.jpg" alt="">
    
      <!-- Contenedor  -->
      <div class="w-[60%] h-[100%] overflow-hidden flex flex-col justify-between p-2">

        <!-- Título  -->
        <div>
          <div class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-7 text-white mr-2" viewBox="0 0 32 32">
              <path fill="currentColor" d="M16 0C7.197 0 0 7.197 0 16s7.197 16 16 16s16-7.197 16-16S24.88 0 16 0m7.36 23.12c-.319.479-.881.64-1.36.317c-3.76-2.317-8.479-2.797-14.083-1.52c-.557.165-1.037-.235-1.199-.72c-.156-.557.24-1.036.719-1.197c6.084-1.36 11.365-.803 15.521 1.76c.563.24.64.88.401 1.36zm1.921-4.401c-.401.563-1.12.803-1.683.401c-4.317-2.641-10.88-3.437-15.916-1.839c-.641.156-1.365-.161-1.521-.803c-.161-.64.156-1.359.797-1.52c5.844-1.761 13.041-.876 18 2.161c.484.24.724 1.041.323 1.599zm.162-4.479c-5.125-3.043-13.683-3.36-18.563-1.839c-.801.239-1.599-.24-1.839-.964c-.239-.797.24-1.599.959-1.839c5.683-1.681 15.041-1.359 20.964 2.161c.719.401.957 1.36.557 2.079c-.401.563-1.36.801-2.079.401z" />
            </svg>
            <h1 class="text-white text-[25px] overflow-hidden h-[30px]">
              Elden Ring (Original Game Soundtrack)
            </h1>
          </div>
          <div class="flex justify-start h-auto w-[100%] py-1">
            <a href="#" class="text-[9px] bg-[#bbc7c5ff] p-1 rounded-sm">Muestra de audio</a>
            <h1 class="text-[#bbc7c5ff] ml-2">Varios Artistas</h1>
          </div>
        </div>
    
        <!-- Botón de guardar -->
        <div class="flex items-center mt-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-7 text-[#bbc7c5ff]" viewBox="0 0 24 24">
            <path fill="currentColor" d="M12 4c4.411 0 8 3.589 8 8s-3.589 8-8 8s-8-3.589-8-8s3.589-8 8-8m0-2C6.477 2 2 6.477 2 12s4.477 10 10 10s10-4.477 10-10S17.523 2 12 2m5 9h-4V7h-2v4H7v2h4v4h2v-4h4z" />
          </svg>
          <h1 class="text-[15px] text-[#bbc7c5ff] ml-2">Guardar en Spotify</h1>
        </div>
    
        <!-- Controles de reproducción -->
        <div class="flex justify-end items-center mt-2">
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 rotate-180 text-[#bbc7c5ff]" viewBox="0 0 24 24">
              <path fill="currentColor" d="M20.095 21a.75.75 0 0 1-.75-.75V3.75a.75.75 0 0 1 1.5 0v16.5a.74.74 0 0 1-.75.75m-3.4-9.589a2.25 2.25 0 0 1-.85 1.82l-9.11 7.09c-.326.247-.713.4-1.12.44h-.23a2.14 2.14 0 0 1-1-.22a2.2 2.2 0 0 1-.9-.81a2.17 2.17 0 0 1-.33-1.16V5.421a2.2 2.2 0 0 1 .31-1.12a2.25 2.25 0 0 1 .85-.8a2.18 2.18 0 0 1 2.24.1l9.12 6.08c.29.191.53.448.7.75a2.3 2.3 0 0 1 .32.98" />
            </svg>
          </button>
          <button class="mx-4">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 text-[#bbc7c5ff]" viewBox="0 0 24 24">
              <path fill="currentColor" d="M20.095 21a.75.75 0 0 1-.75-.75V3.75a.75.75 0 0 1 1.5 0v16.5a.74.74 0 0 1-.75.75m-3.4-9.589a2.25 2.25 0 0 1-.85 1.82l-9.11 7.09c-.326.247-.713.4-1.12.44h-.23a2.14 2.14 0 0 1-1-.22a2.2 2.2 0 0 1-.9-.81a2.17 2.17 0 0 1-.33-1.16V5.421a2.2 2.2 0 0 1 .31-1.12a2.25 2.25 0 0 1 .85-.8a2.18 2.18 0 0 1 2.24.1l9.12 6.08c.29.191.53.448.7.75a2.3 2.3 0 0 1 .32.98" />
            </svg>
          </button>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 text-[#bbc7c5ff] px-2" viewBox="0 0 16 16">
              <path fill="currentColor" d="M3 9.5a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3a1.5 1.5 0 0 1 0 3" />
            </svg>
          </button>
          <button>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-12 text-white" viewBox="0 0 32 32">
              <path fill="none" d="M11 23a1 1 0 0 1-1-1V10a1 1 0 0 1 1.447-.894l12 6a1 1 0 0 1 0 1.788l-12 6A1 1 0 0 1 11 23" />
              <path fill="currentColor" d="M16 2a14 14 0 1 0 14 14A14 14 0 0 0 16 2m7.447 14.895l-12 6A1 1 0 0 1 10 22V10a1 1 0 0 1 1.447-.894l12 6a1 1 0 0 1 0 1.788" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <!-- se viene el infierno ,seccion sound -->
     <div class="h-full bg-[#1D4139] w-full mt-6  overflow-y-scroll">
      <SeccionSoun></SeccionSoun>
     </div>
    </div>
    
  <!--box2 -->
 <div class="h-[100%] w-[200px] bg-yellow-300 cursor-pointer bg-opacity-5  ">
<!--   seccion sound -->
   
  <img src="ring.jpg" alt="">
  <div class="mt-[80%]">
  
  <h1 class="h-[100%] bg-transparent bg-opacity-25  text-white  text-center">    Elden Ring (Original Game  Soundtrack)
  </h1>
</div>
 
 </div>
 <!--box3 --> 
 <div class="h-[100%] w-[200px] bg-opacity-5 bg-[black] content-center cursor-pointer felx ">
  <svg xmlns="http://www.w3.org/2000/svg" class="h-10 ml-[38%] text-[#515A5A] " viewBox="0 0 20 20"><path fill="currentColor" d="M0 8v8a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8l-10 4z"/><path fill="currentColor" d="M2 2a2 2 0 0 0-2 2v2l10 4l10-4V4a2 2 0 0 0-2-2z"/></svg> 
  <Botonshop class="w-[80%] ml-4 mt-12">
    <h1 slot="text-mid">Sing me up!</h1>
  </Botonshop>
</div>  
 
  </div>
  <!-- Seccion2partes -->
  <div class="mx-[6%] ">
      <h1 class="text-white text-[35px] my-10   font-bold">News</h1>
      <div>
        <div class="flex ">
          <!-- bloque1S5 -->
          <div class=" overflow-hidden  ">
            <div class="bg-[url('imgSeccion5.webp')] hover:opacity-100  w-full h-[360px]  bg-cover  bg-no-repeat transition-transform duration-500  transform hover:-translate-y-2 hover:scale-110">

            </div>
            <div class="bg-white p-6 z-auto hover:opacity-70 ">
              <div class="flex">
                <h1 class="text-[#556167] select-none ">17 Octubre 2024</h1>
                <h1 class="ml-auto text-[#556167] select-none">124</h1>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 cursor-pointer text-[#F28430] " viewBox="0 0 24 24"><path fill="currentColor" d="M4.24 12.25a4.2 4.2 0 0 1-1.24-3A4.25 4.25 0 0 1 7.25 5c1.58 0 2.96.86 3.69 2.14h1.12A4.24 4.24 0 0 1 15.75 5A4.25 4.25 0 0 1 20 9.25c0 1.17-.5 2.25-1.24 3L11.5 19.5zm15.22.71C20.41 12 21 10.7 21 9.25A5.25 5.25 0 0 0 15.75 4c-1.75 0-3.3.85-4.25 2.17A5.22 5.22 0 0 0 7.25 4A5.25 5.25 0 0 0 2 9.25c0 1.45.59 2.75 1.54 3.71l7.96 7.96z"/></svg>
              </div>
              <h1 class="text-[#C19D53] pl-7 text-[30px] font-bold select-none">Elden Ring - Path Notes Version 1.116</h1>
              <h1 class="text-[#F28430] pl-[85%] select-none">Learn more</h1>
            </div>
           
          </div>
          <!-- bloque2s5 -->
           <div class="ml-14"> 
          <BlockS5 class="bg-[#C19D53] mb-4">
            <img src="imgSeccion5.webp"  slot="imgBS5" alt="">
            <h1 slot="NumberFoll" class="ml-16 mr-4">127</h1>
            <h1 slot="textS5"  class="text-white text-[1em]">Eldern Ring-Pach Notes</h1>
            <h1 slot="versionS5" class="text-white text-[15px]">Version 1.16</h1>
          </BlockS5>
          <BlockS5 class="bg-[#C19D53]">
            <img src="imgSeccion5.webp"  slot="imgBS5" alt="">
            <h1 slot="NumberFoll" class="ml-16 mr-4">127</h1>
            <h1 slot="textS5"  class="text-white text-[1em]">Eldern Ring-Pach Notes</h1>
            <h1 slot="versionS5" class="text-white text-[15px]">Version 1.16</h1>
          </BlockS5>
          <BlockS5 class="bg-[#C19D53]">
            <img src="imgSeccion5.webp"  slot="imgBS5" alt="">
            <h1 slot="NumberFoll" class="ml-16 mr-4">127</h1>
            <h1 slot="textS5"  class="text-white text-[1em]">Eldern Ring-Pach Notes</h1>
            <h1 slot="versionS5" class="text-white text-[15px]">Version 1.16</h1>
          </BlockS5>
          <BlockS5 class="bg-[#C19D53]">
            <img src="imgSeccion5.webp"  slot="imgBS5" alt="">
            <h1 slot="NumberFoll" class="ml-16 mr-4">127</h1>
            <h1 slot="textS5"  class="text-white text-[1em]">Eldern Ring-Pach Notes</h1>
            <h1 slot="versionS5" class="text-white text-[15px]">Version 1.16</h1>
          </BlockS5>
          <Botonshop class="w-[200px] ">
            <h1 slot="text-mid">SEE ALL NEWS!</h1>
          </Botonshop>
        </div>
        </div>
      </div>
  </div>


  </div>
</div>

<!-- corteFondodeespalda -->
<div class="bg-[url('despalda.png')] bg-cover bg-center  bg-no-repeat h-[300px]">
<div class="flex h-[100%]">
<div class="pl-20 pt-16 w-[60%]">
  <h1 class="text-white text-[36px] font-semibold">Dont miss any news</h1>
  <h1  class="text-white text-[20px] font-semibold mb-3">Get the latest updates from our products and services  </h1>
  <div class="flex">
  <input type="text" class="h-10 w-[420px] bg-white mr-8 rounded-md placeholder:pl-3" placeholder="Your email">
  <Botonshop class="w-[150px]">
    <h1 slot="text-mid">SUSCRIBETE</h1>
  </Botonshop>
  </div>
</div>
<div class="bg-[#C19D53] h-[100%] w-[40%] bg-opacity-70 pl-20 pt-16">
  <h1 class="text-white text-[36px] font-semibold">Follow us
  </h1>
  <h1  class="text-white text-[20px] font-semibold mb-3">Become part of the community
  </h1>
  <div class="flex justify-between pr-20 ">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 text-white" viewBox="0 0 24 24"><path fill="currentColor" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"/></svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 text-white" viewBox="0 0 24 24"><path fill="currentColor" d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.2 4.2 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.52 8.52 0 0 1-5.33 1.84q-.51 0-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23"/></svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 text-white" viewBox="0 0 24 24"><g fill="currentColor" fill-rule="evenodd"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M12 4c.855 0 1.732.022 2.582.058l1.004.048l.961.057l.9.061l.822.064a3.8 3.8 0 0 1 3.494 3.423l.04.425l.075.91c.07.943.122 1.971.122 2.954s-.052 2.011-.122 2.954l-.075.91l-.04.425a3.8 3.8 0 0 1-3.495 3.423l-.82.063l-.9.062l-.962.057l-1.004.048A62 62 0 0 1 12 20a62 62 0 0 1-2.582-.058l-1.004-.048l-.961-.057l-.9-.062l-.822-.063a3.8 3.8 0 0 1-3.494-3.423l-.04-.425l-.075-.91A41 41 0 0 1 2 12c0-.983.052-2.011.122-2.954l.075-.91l.04-.425A3.8 3.8 0 0 1 5.73 4.288l.821-.064l.9-.061l.962-.057l1.004-.048A62 62 0 0 1 12 4m-2 5.575v4.85c0 .462.5.75.9.52l4.2-2.425a.6.6 0 0 0 0-1.04l-4.2-2.424a.6.6 0 0 0-.9.52Z"/></g></svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 text-white" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-width="1.5"><path stroke-linecap="round" stroke-linejoin="round" d="M12 16a4 4 0 1 0 0-8a4 4 0 0 0 0 8"/><path d="M3 16V8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5Z"/><path stroke-linecap="round" stroke-linejoin="round" d="m17.5 6.51l.01-.011"/></g></svg>
    <svg xmlns="http://www.w3.org/2000/svg"class="h-7 text-white" viewBox="0 0 24 24"><path fill="currentColor" d="M4.26 4.26C3 5.532 3 7.566 3 11.64v.72c0 4.068 0 6.102 1.26 7.38C5.532 21 7.566 21 11.64 21h.72c4.068 0 6.102 0 7.38-1.26C21 18.468 21 16.434 21 12.36v-.72c0-4.068 0-6.102-1.26-7.38C18.468 3 16.434 3 12.36 3h-.72C7.572 3 5.538 3 4.26 4.26m1.776 4.218H8.1c.066 3.432 1.578 4.884 2.778 5.184V8.478h1.938v2.958c1.182-.126 2.43-1.476 2.85-2.964h1.932a5.72 5.72 0 0 1-2.628 3.738a5.92 5.92 0 0 1 3.078 3.756h-2.13c-.456-1.422-1.596-2.526-3.102-2.676v2.676h-.24c-4.104 0-6.444-2.808-6.54-7.488"/></svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-7 text-white" viewBox="0 0 24 24"><path fill="currentColor" d="M19.27 5.33C17.94 4.71 16.5 4.26 15 4a.1.1 0 0 0-.07.03c-.18.33-.39.76-.53 1.09a16.1 16.1 0 0 0-4.8 0c-.14-.34-.35-.76-.54-1.09c-.01-.02-.04-.03-.07-.03c-1.5.26-2.93.71-4.27 1.33c-.01 0-.02.01-.03.02c-2.72 4.07-3.47 8.03-3.1 11.95c0 .02.01.04.03.05c1.8 1.32 3.53 2.12 5.24 2.65c.03.01.06 0 .07-.02c.4-.55.76-1.13 1.07-1.74c.02-.04 0-.08-.04-.09c-.57-.22-1.11-.48-1.64-.78c-.04-.02-.04-.08-.01-.11c.11-.08.22-.17.33-.25c.02-.02.05-.02.07-.01c3.44 1.57 7.15 1.57 10.55 0c.02-.01.05-.01.07.01c.11.09.22.17.33.26c.04.03.04.09-.01.11c-.52.31-1.07.56-1.64.78c-.04.01-.05.06-.04.09c.32.61.68 1.19 1.07 1.74c.03.01.06.02.09.01c1.72-.53 3.45-1.33 5.25-2.65c.02-.01.03-.03.03-.05c.44-4.53-.73-8.46-3.1-11.95c-.01-.01-.02-.02-.04-.02M8.52 14.91c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.84 2.12-1.89 2.12m6.97 0c-1.03 0-1.89-.95-1.89-2.12s.84-2.12 1.89-2.12c1.06 0 1.9.96 1.89 2.12c0 1.17-.83 2.12-1.89 2.12"/></svg>
  </div>
</div>

</div>
</div>

<!-- DoradoAbajo -->
 <div class="bg-[url('doradoAbajo.webp')] mt-6 h-[280px] bg-cover bg-fixed bg-center content-center">
  <h1 class="text-center text-[36px] text-white font-semibold">Seek for help?  </h1>
  <h1 class="text-center text-[18px] my-5 text-white font-medium">We may have a solution for you!</h1>
  <div class="flex justify-center">
  <Botonshop class="w-[250px]">
    <h1 slot="text-mid">
      Ask THE SUPPORT TEAM
    </h1>
  </Botonshop></div>
 </div>

<!-- requerimientos del sistema -->
  <div class="bg-cover mt- bg-center bg-no-repeat bg-[url('fondomid.png')] bg-fixed pb-8 pt-12 pl-12">
    <h1 class="text-white text-[36px] font-bold p-8">System requiriments :</h1>
    <div class="flex">
      <div class="pl-8">
        <h1 class="text-white font-bold my-2 ">Minimum</h1>
        <div class="border-2 border-white p-3">
          
            <li class="text-white">OS: Windows 10</li>
            <li class="text-white">Processor: Intel Core i5-8400 | AMD RYZEN 3 3300X</li>
            <li class="text-white">Memory: 12 GB RAM</li>
            <li class="text-white">Graphics: Nvidia GeForce GTX 1060, 3 GB | AMD Radeon RX 580, 4 GB</li>
            <li class="text-white">DirectX: Version 12 (Feature Level 12.0)</li>
            <li class="text-white">Storage: 60 GB available space</li>
            <li class="text-white">Sound Card: Windows-Compatible Audio device</li>
            <h1 class="text-[#CED5D5]">Current specs are valid for launch day and may be updated in the future.</h1>
        </div>
      </div>
      <div class="pl-8">
        <h1 class="text-white font-bold my-2 ">Recommended</h1>
        <div class="border-2 border-white p-3">
          
            <li class="text-white">OS: Windows 11/10</li>
            <li class="text-white">Processor: Intel Core i7-8700K | AMD Ryzen 5 3600X</li>
            <li class="text-white">Memory: 16 GB RAM</li>
            <li class="text-white">Graphics: Nvidia GeForce GTX 1070, 8 GB | AMD Radeon RX VEGA 56, 8 GB</li>
            <li class="text-white">DirectX: Version 12 (Feature Level 12.0)</li>
            <li class="text-white">Storage: 60 GB available space</li>
            <li class="text-white">Sound Card: Windows-Compatible Audio device</li>
            <h1 class="text-[#CED5D5]">Current specs are valid for launch day and may be updated in the future.</h1>
        </div>
      </div>
    </div>
  </div>

<!-- SeccionBlanca -->
  <div class="h-32 bg-white flex content-center">
    <img src="pegui16.png" class="h-[70%] pt-10 ml-20 mr-8" alt="">
    <img src="pegui16N.png"  class="h-[90%] pt-6 mr-5" alt="">
    <div class="content-center">
      <h1 >ELDEN RING™ & ©BANDAI NAMCO Entertainment</h1>
      <h1>Inc. / ©2022 FromSoftware, Inc.</h1>
    </div>
  </div>

<!--SlideAbajo  -->
<div class="h-[600px] w-[100%] bg-[#E8EBEE]">
  <div class="flex pt-6 items-center">
    <h1 class="text-[#1E244D] text-[36px] pl-20 font-bold">You may also like</h1>
    <button class="rounded-full border h-7 w-7 mr-8 border-[#7A8489] ml-auto">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-7 text-[#7A8489]" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 19l-7-7m0 0l7-7m-7 7h18"/></svg>
    </button>
    <button class="rounded-full border h-7 w-7 border-[#7A8489] mr-8">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-7 text-[#7A8489] rotate-180" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 19l-7-7m0 0l7-7m-7 7h18"/></svg>
    </button>
  </div>
</div>

<PieDePagina></PieDePagina>
</Layout>
<script>


///
const slider = document.getElementById('slider2');
const slides = document.querySelectorAll('#slider2 > div ');
const prevButton = document.getElementById('prev');
const nextButton = document.getElementById('next');
const ex= document.getElementById('number');
let numf= document.getElementById('numbert');
const totalSlides = slides.length-2;

if (numf) {
  numf.innerText=slides.length.toString();
}

let currentIndex = 0;
let exx=3;
 

const slideWidth = slides[0].clientWidth; 
const slideMarginRight = parseInt(getComputedStyle(slides[0]).marginRight); // Márgenes entre slides
const slideMarginL = parseInt(getComputedStyle(slides[0]).marginLeft); // Márgenes entre slides
const totalSlideWidth = slideWidth + slideMarginRight + slideMarginL; // Ancho total (slide + margen)
ex.innerText=exx.toString();
nextButton.addEventListener('click', () => {
    if (currentIndex < totalSlides -1 ) {
        // Avanza si no estamos en el último slide
        exx++;
        ex.innerText=exx.toString();
        currentIndex++;      
    } else {
        // Si llegamos al último slide, volvemos al primero
        exx=3
        ex.innerText=exx.toString();
        currentIndex = 0;
    }
    updateSliderPosition();
});

prevButton.addEventListener('click', () => {
    if (currentIndex > 0) {
        // Retrocede si no estamos en el primer slide
        exx--;
        ex.innerText=exx.toString();
        currentIndex--;
    } else {
        // Si estamos en el primer slide, vamos al último
        exx++
        ex.innerText=exx.toString();
        currentIndex = totalSlides - 1;
    }
    updateSliderPosition();
});

function updateSliderPosition() {
    slider.style.transition = 'transform 0.5s ease'; 
    slider.style.transform = `translateX(-${currentIndex * totalSlideWidth }px)`; // Mueve el slider
}

///////////////////////

  function setSpanish() {
    document.getElementById('selectedLanguage').textContent = 'Español';
  }

  function setEnglish() {
    document.getElementById('selectedLanguage').textContent = 'Inglés';
  }

  function setFrench() {
    document.getElementById('selectedLanguage').textContent = 'Francés';
  }


  //////////////////////

 
</script>
