---
const { del = false,extraClass = '' ,bg=""} = Astro.props;

---
<div class="flex items-center " >
    <a 
        href="#" 
        class="h-[44px] hover:bg-transparent  hover:border-[#C19D53] hover:border  bg-[#C19D53] flex items-center justify-center font-semibold text-white text-[17px] rounded-lg" 
      
    >
        <slot name="star-icon" ></slot> Shop Now
    </a>
</div>
