---
---
<div class="min-w-[30%] h-[400px] mx-5 ">
    <div class="bg-[url(fondofuego.jpg)] h-full    text-center justify-items-center">
            
    <slot name="imagen"  ></slot>
    
        <slot name="text"></slot>
        <slot name="boton"></slot>
    </div>

</div>