---

import ShopButton from "../ComVue/Botonshop.vue";
---
<div id="stickyHeader" class="w-screen  h-[11.5%] bg-black flex justify-end items-center transition-opacity duration-300">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-[50%] m-[2%] w-[2%] text-white" viewBox="0 0 24 24">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 20v-1a7 7 0 0 1 7-7v0a7 7 0 0 1 7 7v1m-7-8a4 4 0 1 0 0-8a4 4 0 0 0 0 8" />
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-[70%] w-[2%] m-[1%] text-white" viewBox="0 0 24 24">
        <path fill="currentColor" d="M6 15.5h4.5q.214 0 .357.143T11 16t-.143.357t-.357.143H5.808q-.348 0-.578-.23T5 15.692V8.308q0-.348.23-.578t.578-.23H10.5q.214 0 .357.143T11 8t-.143.357t-.357.143H6v3h3.5q.214 0 .357.143T10 12t-.143.357t-.357.143H6zm8.616 1q-.691 0-1.153-.462T13 14.885v-.154q0-.214.143-.357t.357-.143q.116 0 .192.077q.077.077.077.192q.098.02.165.143q.066.124.066.241q0 .27.173.443t.443.173h2.769q.269 0 .442-.173t.173-.442v-1.77q0-.269-.173-.442t-.442-.173h-2.77q-.69 0-1.152-.462T13 10.885v-1.77q0-.69.463-1.152t1.153-.463h2.769q.69 0 1.153.463T19 9.116v.153q0 .214-.143.357t-.357.143q-.115 0-.192-.077T18.23 9.5q-.098-.02-.165-.143Q18 9.233 18 9.116q0-.27-.173-.443t-.443-.173h-2.768q-.27 0-.443.173T14 9.116v1.769q0 .269.173.442t.443.173h2.769q.69 0 1.153.463T19 13.116v1.769q0 .69-.462 1.153t-1.154.462z" />
    </svg>

    <a href="#" class="mr-14">
        <img src="logo.png" alt="">
    </a>
</div>
<script>
    
</script>

   
<div class="bg-black ">
    <img class="bg-black pr-12" src="linea.png" alt="">
</div>

<div id="Headd" class=" w-screen h-[10%] min-h-[60px] bg-black flex items-center sticky z-20 top-0 ">
   <a href="/"> <img src="Logo2.png" alt="Logo" class="h-[40%] w-[200px] ml-6 mr-[2%]"></a>
    <a href="#" class="text-white text-[18px] ml-[2%]">Key features</a>
    <a href="/shadow" class="text-white text-[18px] ml-[2%]">Shadow Of The Erdtree</a>
    <a href="#" class="text-white text-[18px] ml-[2%]">Official Merch</a>
    <a href="#" class="text-white text-[18px] ml-[2%]">Music</a>
    <a href="#" class="text-white text-[18px] ml-[2%]">Wiki</a>
    <a href="#" class="text-white text-[18px] ml-[2%]">Concert</a>
    <a href="#" class="text-white text-[18px] ml-[2%]">Quiz</a>
    <svg xmlns="http://www.w3.org/2000/svg" class="ml-[4%] h-[20%] w-[2%] mx-2 text-white" viewBox="0 0 24 24">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m21 21l-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607" />
    </svg>
 
  <ShopButton class="w-28 ml-5  " >
     <h1 slot="text-mid">  Shop Now</h1>
  </ShopButton>

</div>
