---
const { del = false, extraClass = "" } = Astro.props;
---

<div class={`flex ml-52 mr-36 pt-12`}>
    <slot name="starvideo" ></slot>
    <slot name="descini"></slot>
    <slot name="slot2" />
    <slot name="slot3" />
    <slot name="desc"></slot>
    <slot name="videof"></slot>
</div>
